/*-------------------------------------------------------------------------------------*/

.btn {
    padding: 1rem;

    font-size: 1rem;
    font-weight: bold;

    border-radius: 0.5rem;
    border: none;

    cursor: pointer;
    text-transform: uppercase;

    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.2s;
    background-color: var(--btn-color);
    color: var(--main-text-color);
}

.btn:hover {
    background-color: var(--btn-color-hover) !important;
}

.btn.secondary {
    background-color: var(--btn-secondary-color) !important;
}

.btn.secondary:hover {
    background-color: var(--btn-secondary-color-hover) !important;
}

.nvr-btn {
    text-align: left;
}

/*-------------------------------------------------------------------------------------*/

.form-element {
    display: flex;
    flex-direction: column;

    font-size: 0.7rem;

    label {
        margin-bottom: 0.5rem;
        font-weight: bold;
    }

    input,
    textarea,
    select {
        border: 1px solid var(--border-color);
        padding: 0.7rem;
        border-radius: 5px;
        background-color: var(--input-bg-color);
        color: var(--main-text-color);
        transition: border 0.3s ease, box-shadow 0.3s ease;
        width: 100%;
        max-width: 100%;
    }

    input::placeholder,
    textarea::placeholder {
        color: var(--placeholder-color);
    }

    input:focus,
    textarea:focus,
    select:focus {
        border-color: var(--focus-color);
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
        outline: none;
    }

    &.row {
        flex-direction: row;
        gap: 1rem;

        label {
            margin: 0;
        }
    }
}

/*-------------------------------------------------------------------------------------*/

.grid-2x2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.grid-2x2,
fieldset,
textarea,
.chbox {
    margin-bottom: 2rem;
}

/*-------------------------------------------------------------------------------------*/

@media (min-width: 480px) {
    .grid-2x2 {
        grid-template-columns: 1fr;
    }
}