.ilustration {
    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}

.ilustration-container {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
}

.ilustration img {
    width: 100%;
    height: auto;

    display: block;
    border-radius: 10px;
}

.ilustration-text {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.4rem;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.6);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}

/*-------------------------------------------------------------------------------------*/

@media (min-width: 768px) {
    .ilustration {
        width: calc(100% + 6rem);
        margin: 0 -4rem;
    }
}