.list-proyects {
    padding: 0;

    justify-content: center;
    align-items: start;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.list-proyects li {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list-proyects figure {
    margin: 0;
    padding: 0;
    max-width: 100%;

    text-align: center;
}

.list-proyects img {
    width: 100%;
    max-width: 480px;
    height: auto;

    object-fit: cover;
}

.list-proyects figcaption {
    margin-top: 0.5rem;
}

.assets {
    display: flex;
    justify-content: center;
    width: 100%;
    overflow: hidden;

    background-color: black;
}

.assets video {
    width: 100%;
    height: auto;

    opacity: 0;
    visibility: hidden;
    animation: fadeIn 2s ease-out forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        visibility: hidden;
    }

    100% {
        opacity: 1;
        visibility: visible;
    }
}

@media (min-width: 768px) {
    .list-proyects {
        grid-template-columns: repeat(3, 1fr);
        transition: transform 0.3s ease-in-out;
    }

    .assets video {
        width: 70%;
    }

    .list-proyects li:hover img {
        transform: scale(1.1);
    }
}