.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 600px;
    margin: auto;
    overflow: hidden;
}

.banner-container {
    position: relative;
    width: 100%;
}

.banner img {
    width: 100%;
    display: block;
    border-radius: 10px;
}



.banner-text {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    font-weight: bold;
    color: white;
    background: rgba(0, 0, 0, 0.6);
    padding: 8px 16px;
    border-radius: 5px;
}

/*-------------------------------------------------------------------------------------*/

@media (max-width: 768px) {
    .btn {
        font-size: 1rem; /* Reduce el tamaño en móviles */
        padding: 0.5rem 1rem;
    }
}