:root {
  --bg-color: #25252ce8;
  --bg-color-header: #080809;
  --bg-color-info: #104900;
  --bg-color-banner: #155f00;
  --bg-color-form: #2cc900;

  --bg-color-footer: #121921;
  --bg-color-footer-2: #b9b9b9;


  --main-text-color: #FFF;
  --input-bg-color: #767676;
  --border-color: #ccc;
  --placeholder-color: #acacac;
  --focus-color: #007bff;
  /*     
    --main-brand-color: #e50914;
    --main-brand-color-light: #e44c54;
    
    --input-bg-color: #333; */
  font-size: 16px;
}

@font-face {
  font-family: 'Handel';
  src: url('/assets/fonts/HandelGo.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Handel';
  color: var(--main-text-color);
}

.info,
.form {
  margin-bottom: 2rem;
  /* Ajusta el valor según sea necesario */
}

.banner {
  margin-bottom: 2rem !important;
  /* Forzamos el margen */
  display: block;
}

main {
  width: 90%; /* Reduce el ancho en pantallas pequeñas */
  max-width: 80%; /* Mantiene un límite en pantallas grandes */
  margin: auto;
  padding: 2rem 4rem 0rem; /* Mantiene un buen espaciado en pantallas grandes */
  background-color: var(--bg-color);
}




a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
}

p {
  margin: 0;
  margin-bottom: 1rem;
}

/*-------------------------------------------------------------------------------------*/

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.main-bg{
  background-image: url('/assets/app/Wallpaper_3.jpg'); /* Reemplaza con la URL o ruta de tu imagen */
  background-size: cover; /* La imagen cubre todo el fondo */
  background-position: center; /* Centrada */
  background-repeat: no-repeat; /* Evita que se repita */
  background-attachment: fixed; /* Mantiene el fondo fijo al hacer scroll */
}

@media (max-width: 768px) {
  main {
      width: 100%; /* Usa todo el ancho disponible */
      padding: 2rem; /* Reduce el padding en pantallas pequeñas */
  }
}