:root {
  --bg-color: #25252ce8;

  --bg-color-header: #0d0d0d;

  --bg-color-footer: #070b0f;
  --bg-color-footer-2: #a2a3a6;

  --main-text-color: #FFF;

  --input-bg-color: #767676;
  --border-color: #ccc;
  --placeholder-color: #acacac;
  --focus-color: #007bff;

  --btn-header-color: #281a36;
  --btn-header-color-hover: #3a254f;

  --btn-color: #161623;
  --btn-color-hover: #383672;
  --btn-secondary-color: #8e8e8e;
  --btn-secondary-color-hover: #bfbfbf;

  --primary-color: #3498db;
  --primary-color-hover: #2980b9;

  --footer-text: #ccc;

  font-size: clamp(2px, 5vw, 16px);
  /*clamp(min, ideal, max)*/

 }

/*-------------------------------------------------------------------------------------*/

@font-face {
  font-family: 'Handel';
  src: url('/assets/fonts/HandelGo.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/*-------------------------------------------------------------------------------------*/

body {
  font-family: 'Handel';
  color: var(--main-text-color);

}

main {
  margin: auto;
  padding: 1.5rem 2rem 1.5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  width: 100%;
  max-width: 1000px;
  min-height: 100vh;

  background-color: var(--bg-color);
}

.main-bg{
  background-image: url('/assets/app/Wallpaper_2_(480x270).jpg');
}

video, iframe {
  max-width: 100%;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, p {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p {
  margin: 0;
  text-align: justify;

}

/*-------------------------------------------------------------------------------------*/

.info {
  display: flex;
  flex-direction: column;

  gap: 2rem
}

.form-container {
  width: 100%;
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.main-bg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/*-------------------------------------------------------------------------------------*/
@media (min-width: 1024px) {
  .main-bg {
    background-image: url('/assets/app/Wallpaper_2_(3840x2160).jpg');
  }
}

@media (min-width: 768px) {
  main{
    padding: 2rem 4rem 2rem;
    width: 90%;
  }
  .main-bg {
    background-image: url('/assets/app/Wallpaper_2_(1024x576).jpg');
  }
  
}

@media (min-width: 480px) {
  .main-bg {
    background-image: url('/assets/app/Wallpaper_2_(768x432).jpg');
  }
}