.footer {
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  
  overflow: hidden;

  background: var(--bg-color-footer);
}

.footer ul {
  margin: 1rem 1rem;
  padding: 1rem 3rem;

  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  max-width: 100%;
  
  gap: 1rem;
  border-radius: 0.8rem;

  background-color: var(--bg-color-footer-2);
}

.footer p {
  text-align: center;
  color: var(--footer-text);
}

.footer li {
  display: flex;
  align-items: center;
}

.footer a {
  transition: transform 0.2s ease-in-out, filter 0.2s ease-in-out;
}

.footer a:hover {
  transform: scale(1.1);
}

.footer a:hover img {
  filter: brightness(1.3);
}

.footer img {
  height: 1.5rem;
  width: auto;
}

@media (min-width: 480px) {
  .footer ul {
    margin: 1rem 3rem;
  }
  .footer img {
    height: 2rem
  }
}