.header {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bg-color-header);
    z-index: 1000;
    overflow: hidden;
}

.logo {
    max-width: 100%;
    height: auto;
    display: block;
    max-height: 40px;
    width: auto;
}

.menu-container {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

.menu-toggle {
    display: none;
}

.menu-btn {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.5rem;
    position: absolute;

    display: none;
}

.list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;

    gap: 1rem;
}

.btn-header{
    align-items: center;
    max-width: 100%;
    overflow: hidden;

    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    color: var(--main-text-color);
    transition: background-color 0.3s ease, transform 0.3s ease;

    background-color: var(--btn-header-color);
}

.btn-header:hover {
    background-color: var(--btn-header-color-hover);
    transform: scale(1.05);
}

@media (min-width: 1025px) {
    .header {
        padding: clamp(1rem, 2vw, 2.5rem);
    }

    .logo {
        max-height: clamp(40px, vw, 80px);
        width: auto;
    }
}

@media (max-width: 1024px) {
    .header {
        padding: 1rem 1.5rem;
    }

    .logo {
        max-height: 50px;
        width: 80%;
    }   

    .menu-btn {
        font-size: 3rem;
    }
}

@media (max-width: 768px) {
    .header {
        padding: 1rem 2.5rem;
        position: relative;
    }

    .logo {
        content: url('../assets/app/Logo_Mobile.png');
        max-height: 120px;
    }

    .menu-btn {
        display: block;
        font-size: 2rem;
        z-index: 101;
    }

    .nav {
        position: fixed;
        top: 0;
        padding-top: 128px;
        transition: right 0.3s ease-in-out;
        display: none;
        margin-right: -2.5rem;
        background-color: var(--bg-color-header);
    }

    .menu-toggle:checked~.nav {
        display: flex;
    }

    .list {
        display: block;
        width: 100%;
    }

    .btn-header {
        display: block;
        width: 100%;
        text-align: center;

        font-size: 2rem;
        border-radius: 0px;
        background-color: transparent;

    }
}


@media (max-width: 480px) {
    .header {
        padding: 1rem 2.3rem;
    }

    .logo {
        max-height: 140px;
        width: 60%;
    }

    .menu-btn {
        right: 10px;
        font-size: 1.8rem;
    }

    .btn-header{
        font-size: 1.8rem;
    }

    .nav{
        padding-top: 116px;
    }
}