.header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: rgb(21, 104, 21);
    z-index: 1000;
}

.header a {
    display: inline-block; 
}

.header img {
    height: 80px;
}

.nav {
    display: flex;
}

.list {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
}

.menu-btn {
    display: none;
    font-size: 18px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.menu-toggle {
    display: none;
}

@media (max-width: 768px) {
    .menu-btn {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
    }

    .nav {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        background: rgb(21, 104, 21);
        width: 100%;
        text-align: right;
        padding-right: 20px;
    }

    .list {
        flex-direction: column;
        align-items: flex-end;
        padding: 10px 20px;
    }

    .menu-toggle:checked~.nav {
        display: flex;
    }
}