.list-proyects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
    justify-content: center;
    align-items: start;
    padding: 0;
}

.list-proyects li {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list-proyects figure {
    margin: 0;
    padding: 0;
    text-align: center;
    max-width: 100%;
}

.list-proyects img {
    width: 100%;
    max-width: 480px;
    height: auto;
    object-fit: cover;
}

.list-proyects figcaption {
    margin-top: 8px;
    font-size: 1rem;
    color: white;
}

.assets {
    display: flex;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    background-color: black;
}

.assets video {
    width: 100%;
    height: auto;
    opacity: 0;

    visibility: hidden;
    animation: fadeIn 2s ease-out forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        visibility: hidden;
    }

    100% {
        opacity: 1;
        visibility: visible;
    }
}

@media (max-width: 768px) {
    .list-proyects {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media (min-width: 769px) {
    .list-proyects {
        grid-template-columns: repeat(3, 1fr);
        transition: transform 0.3s ease-in-out;
    }

    .assets video {
        width: 70%;
    }

    .list-proyects li:hover img {
        transform: scale(1.1);
    }
}